@media (min-width: 768px) and (max-width: 1199px) {
    .header {
        background-image: url(../images/banner-bg-tablet.jpg);
    }
    .trends-item {
        width: calc((100% - 4px) / 2);
        margin-bottom: 4px;
    }
    .trends-item:nth-child(2n+2) {
        margin-left: 4px;
    }
    .main {
        margin-left: 35px;
        margin-right: 35px;
    }
    .aside {
        margin-right: 35px;
    }
    .shop-item {
        width: calc((100% - 60px) / 2);
        margin-bottom: 28px;
    }
    .shop-item:nth-child(2n + 2) {
        margin-left: 60px;
    }
}

@media (max-width: 1199px) {
    .header-intro {
        padding: 105px 0 125px;
    }
    .menu-list {
        display: none;
    }
    .menu-hamburger-box {
        background-color: #fff;
        height: 4px;
        margin-bottom: 4px;
        width: 23px;
    }
    .menu-hamburger-box:last-child {
        margin-bottom: 0;
    }
    .main-article {
        display: block;
        border-bottom: 3px solid #ededed;
        padding-bottom: 19px;
        margin-top: 41px;
    }
    .main-article>div>img {
        width: 100%;
        margin-bottom: 16px;
        margin-right: 0;
    }
    .popup-close a img {
        width: 26px;
        height: 26px;
    }
    .popup form .radio-group span:before {
        width: 26px;
        height: 26px;
    }
}