@media (max-width: 767px) {
    body {
        min-width: 360px;
    }
    .container {
        width: 100%;
    }
    .header {
        background-image: url(../images/banner-mobile.jpg);
    }
    .header-intro {
        padding: 45px 0 220px;
    }
    .header-menu {
        flex-direction: column-reverse;
    }
    .logo img {
        height: 60px;
        width: auto;
    }
    .menu-hamburger {
        align-self: flex-end;
        margin-bottom: 185px;
    }
    .header-intro h1 {
        font-size: 26px;
    }
    .header-intro-text {
        width: auto;
    }
    .trends-item {
        width: 100%;
        margin-bottom: 3px;
    }
    .main-container {
        display: block;
    }
    .main {
        margin-bottom: 45px;
    }
    .main,
    .aside {
        width: 100%;
    }
    .field {
        width: calc(100% - 84px);
    }
    .shop-item {
        width: 100%;
        margin-bottom: 45px;
    }
    .shop-item:last-child {
        margin-bottom: 0;
    }
}